@page "/addanswer/{QuizID}"

@using Models

@inject HttpClient client
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager

<h3>Добавьте ответы для викторины</h3>

<EditForm Model="@QuestionModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            Вопрос:
            <InputText @bind-Value="QuestionModel.Question" />
        </label>
    </p>
    <br/>
    <p>
        <label>
            Ответ №1
            <InputText @bind-Value="AnswerModel1.AnswerText" />
            <InputCheckbox @bind-Value="AnswerModel1.IsCorrect" />
        </label>
        <br />
        <label>
            Ответ №2
            <InputText @bind-Value="AnswerModel2.AnswerText" />
            <InputCheckbox @bind-Value="AnswerModel2.IsCorrect" />
        </label>
        <br />
        <label>
            Ответ №3
            <InputText @bind-Value="AnswerModel3.AnswerText" />
            <InputCheckbox @bind-Value="AnswerModel3.IsCorrect" />
        </label>
    </p>
    <button type="submit">Добавить вопрос</button>
</EditForm>
<br/>
<button type="submit" @onclick="SubmitQuiz">Сохранить викторину</button>


@code
{
    [Parameter]
    public string QuizID { get; set; }

    List<QuestionModel> Questions { get; set; }
    QuestionModel QuestionModel { get; set; }
    QuizAnswerModel AnswerModel1 { get; set; }
    QuizAnswerModel AnswerModel2 { get; set; }
    QuizAnswerModel AnswerModel3 { get; set; }

    string UserID { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Questions = new List<QuestionModel>();
        QuestionModel = new QuestionModel();
        AnswerModel1 = new QuizAnswerModel();
        AnswerModel2 = new QuizAnswerModel();
        AnswerModel3 = new QuizAnswerModel();

        base.OnInitialized();
        QuestionModel.AnswerModels.Add(AnswerModel1);
        QuestionModel.AnswerModels.Add(AnswerModel2);
        QuestionModel.AnswerModels.Add(AnswerModel3);

        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();

        UserID = authState.User.Claims.Where(x => x.Type.Equals("sub")).First().Value;
    }

    public void HandleValidSubmit()
    {
        if (this.QuestionModel.AnswerModels.Count(x => x.IsCorrect) != 1)
        {
            return;
        }

        this.QuestionModel.CreationDate = DateTime.Now;

        this.QuestionModel.UserID = UserID;
        QuestionModel.QuizID = new Guid(this.QuizID);
        Questions.Add(this.QuestionModel);

        AnswerModel1 = new QuizAnswerModel();
        AnswerModel2 = new QuizAnswerModel();
        AnswerModel3 = new QuizAnswerModel();

        QuestionModel = new QuestionModel();

        QuestionModel.AnswerModels.Add(AnswerModel1);
        QuestionModel.AnswerModels.Add(AnswerModel2);
        QuestionModel.AnswerModels.Add(AnswerModel3); 
    }

    public void SubmitQuiz()
    {
        client.PostAsJsonAsync<List<QuestionModel>>(@"https://localhost:44333/api/quiz/answers", Questions);
        navigationManager.NavigateTo("/quizzes");
    }
}
