@page "/"

@using Models 

@inject AuthenticationStateProvider authenticationStateProvider
@inject HttpClient client

<h2>Добро пожаловать в "Викторины"</h2>

@code
{
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var userModel = new UserModel();

            userModel.UserID = user.Claims.Where(x => x.Type.Equals("sub")).First().Value;
            userModel.FirstName = user.Claims.Where(x => x.Type.Equals("given_name")).First().Value;
            userModel.LastName = user.Claims.Where(x => x.Type.Equals("family_name")).First().Value;

            await client.PostAsJsonAsync<UserModel>(@"https://localhost:44333/api/user", userModel);
        }
    }
}